* {
    font-family: 'Questrial', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to left,#3f6ebe, #3ebe4d);

}

main {
    display: flex;
    padding: 20px;
    flex-direction: row;
    width: 100%;
    justify-content: center;

}

.row {
    width: 100%;
}

.weather {
    /* width: 70%; */
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    align-items: center;
}

.today {
    background-image: linear-gradient(#3ebe4d73, #3f6ebe73);
    width: 100%;
}

.forecast {
    display: flex;
    justify-content: space-between;
}

.forecast form {
    padding: 15px;
    margin-right: 15px;
    background-image: linear-gradient(#3ebe4d73, #3f6ebe73);
}

li {
    list-style: none;
}

.hidden {
    display: none;
}
