* {
    font-family: 'Questrial', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-image: url(./james-butterly-iEPgfWwTpuM-unsplash.jpg);
    background-size: cover;
}

header {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to left,#4f9dd1, #215e28);

}

main {
    display: flex;
    padding: 20px;
    flex-direction: row;
    width: 100%;
    justify-content: center;

}

button {
    width: 100px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 2px 2px 5px;
    margin: 5px;
    background-color: #215e287c;
}

form {
    border-radius: 5px;
}

.row {
    width: 100%;
}

.weather {
    /* width: 70%; */
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    align-items: center;
}

.today {
    background-image: linear-gradient(#ecfaee6e, #696d756c);
    width: 100%;
}

.forecast {
    display: flex;
    justify-content: space-between;
}

.forecast form {
    padding: 15px;
    margin-right: 15px;
    background-image: linear-gradient(#ecfaee6e, #696d756c);
}

li {
    list-style: none;
}

.hidden {
    display: none;
}

.hundred {
    width: 100%;
}

#searchHistory {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 20000px;
    }
}

